@{
    ViewBag.Title = "DetailNew";
    Layout = null;
    var newRepository = DependencyHelper.GetService<IGeneralRepository<XNew>>();
    var lang = "";
    var httpCookie = Request.Cookies["Language"];
    lang = httpCookie != null ? httpCookie.Value : ConfigurationManager.AppSettings["Culture"];
    var listNew = newRepository.GetIQueryableItems().Where(x => x.Active == 1 && x.CodeLanguage == lang).OrderBy(x => x.Order).ToList();
}
@using XProject.Web.Infrastructure;
@using System.Configuration
@using XProject.Domain.Abstract
@using XProject.Domain.Entities
@using XProject.Web
@model XProject.Domain.Entities.XNew
<!DOCTYPE html>
<html lang="en-GB" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8" />
    <title>casa angelina handicrafts workshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- This site is optimized with the Yoast SEO plugin v4.9 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="Discover the colourful ceramics of the Amalfi Coast with Casa Angelina’s new handicrafts workshop." />
    <link rel="canonical" href="http://journal.casangelina.com/2018/07/27/work-of-art/" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="casa angelina handicrafts workshop" />
    <meta property="og:description" content="Discover the colourful ceramics of the Amalfi Coast with Casa Angelina’s new handicrafts workshop." />
    <meta property="og:url" content="http://journal.casangelina.com/2018/07/27/work-of-art/" />
    <meta property="og:site_name" content="Casa Angelina Journal" />
    <meta property="article:tag" content="amalfi coast" />
    <meta property="article:tag" content="Casa Angelina Life style" />
    <meta property="article:tag" content="Ceramics" />
    <meta property="article:tag" content="handicrafts workshop" />
    <meta property="article:tag" content="Positano" />
    <meta property="article:tag" content="Vietri sul Mare" />
    <meta property="article:section" content="Art" />
    <meta property="article:published_time" content="2018-07-27T12:10:01+01:00" />
    <meta property="og:image" content="http://journal.casangelina.com/wp-content/uploads/2018/07/DSC_0088.jpg" />
    <meta property="og:image:width" content="3872" />
    <meta property="og:image:height" content="2592" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Discover the colourful ceramics of the Amalfi Coast with Casa Angelina’s new handicrafts workshop." />
    <meta name="twitter:title" content="casa angelina handicrafts workshop" />
    <meta name="twitter:image" content="http://journal.casangelina.com/wp-content/uploads/2018/07/DSC_0088.jpg" />
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='//s.w.org' />
    <link href="~/Template/css/cssDetailNew/style.css" rel="stylesheet" />
    <link href="~/Template/css/cssDetailNew/ajax-load-more.css" rel="stylesheet" />
    <link href="~/Template/css/cssDetailNew/main_style.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Template/js/jquery.js"></script>
    <script type="text/javascript" src="~/Template/js/jquery-migrate.min.js"></script>

</head>
<body class="post-template-default single single-post postid-176 single-format-standard header-full-width full-width-content" itemscope itemtype="https://schema.org/WebPage">
    <div class="site-container">
        <header class="site-header" itemscope itemtype="https://schema.org/WPHeader">
            <div class="wrap">

                <div class="logo">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Template/images/logo.png" width="230" height="46" />
                    </a>
                </div>
            </div>
        </header><div class="site-inner">
            <div class="content-sidebar-wrap">
                <main class="content">
                    <article class="post-176 post type-post status-publish format-standard has-post-thumbnail category-art-en category-lifestyle-en tag-amalfi-coast tag-casa-angelina-life-style tag-ceramics tag-handicrafts-workshop tag-positano tag-vietri-sul-mare entry" itemscope itemtype="https://schema.org/CreativeWork">
                        <header class="entry-header">
                            <div class="article_thumb">
                                <img width="320" height="320" src="@(ConfigurationManager.AppSettings["UrlImage"] + Model.UrlImage.Split('_')[0] + "/" + String.Format(Model.UrlImage, 320320))" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="@(ConfigurationManager.AppSettings["UrlImage"] + Model.UrlImage.Split('_')[0] + "/" + String.Format(Model.UrlImage, 320320)) 320w, @(ConfigurationManager.AppSettings["UrlImage"] + Model.UrlImage.Split('_')[0] + "/" + String.Format(Model.UrlImage, 150150)) 150w" sizes="(max-width: 320px) 100vw, 320px" />
                            </div>
                            <div class="article_title">
                                <p class="entry-meta">
                                    <time class="entry-time" itemprop="datePublished">
                                        @{
                                            var date = new DateTime();
                                            if (!string.IsNullOrEmpty(Model.ModifiedDate.ToString()))
                                            {
                                                date = Model.ModifiedDate.Value;
                                            }
                                            else
                                            {
                                                date = Model.CreateDate.Value;
                                            }
                                        }
                                       

                                       <span>@date.ToString("MMM") /</span>
                                        <span class="red">@date.ToString("dd")</span>
                                        <span>/ </span>@date.ToString("yyyy")
                                    </time>
                                </p>
                                @*<ul class="categories">
                                        <li><a href="http://journal.casangelina.com/art-en/" alt="View all posts in Art">Art</a></li>
                                        <li><a href="http://journal.casangelina.com/lifestyle-en/" alt="View all posts in Lifestyle">Lifestyle</a></li>
                                    </ul>*@
                                <h1 class="entry-title" itemprop="headline">@Model.Name</h1>
                            </div>

                        </header><div class="entry-content" itemprop="text">
                            <p class="sottotitolo">
                                @Model.ShortDescription

                            </p>
                            @Html.Raw(Model.Description)



                            <ul class="categories">
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </div>
                        <footer class="entry-footer"></footer>
                        <div class="post_navigation">
                            @if (ViewBag.Prev != null)
                            {
                                <div class="link_navigation left">
                                    <a href="@Url.Action("DetailNew","Home",new { id= ((XNew)ViewBag.Prev).Name.UrlFrendly()+"-"+ ((XNew)ViewBag.Prev).CurrentId })" rel="prev">
                                        <div class="icon"></div>
                                        <span class="no_mobile">@(((XNew)ViewBag.Prev).Name)</span>
                                        <span class="for_mobile langPrev">prev post</span>
                                    </a>
                                </div>     
                            }
                            @if (ViewBag.Next != null)
                            {
                                      
                                 <div class="link_navigation right">
                                    <a href="@Url.Action("DetailNew","Home",new { id= ((XNew)ViewBag.Next).Name.UrlFrendly()+"-"+ ((XNew)ViewBag.Next).CurrentId })" rel="next">
                                        <span class="for_mobile">next post</span>
                                        <span class="no_mobile">@(((XNew)ViewBag.Next).Name)</span>
                                        <div class="icon"></div>
                                    </a>
                                </div>
                            }
                            
                        </div>

                    </article>
                    <div class="related_container">
                        <h3>Related posts</h3>

                        <ul class="related_posts">
                            @{
                                foreach (var item in listNew.Where(x => x.ID != Model.ID).ToList())
                                {
                                    <li>
                                        <div class="related_thumb">
                                            <a href="@Url.Action("DetailNew","Home",new {id=item.Name.UrlFrendly()+"-"+item.ID})">
                                                <img width="320" height="320" src="@(ConfigurationManager.AppSettings["UrlImage"] + item.UrlImage.Split('_')[0] + "/" + String.Format(item.UrlImage, 320320))" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="@(ConfigurationManager.AppSettings["UrlImage"] + item.UrlImage.Split('_')[0] + "/" + String.Format(item.UrlImage, 320320)) 320w, @(ConfigurationManager.AppSettings["UrlImage"] + item.UrlImage.Split('_')[0] + "/" + String.Format(item.UrlImage, 150150)) 150w" sizes="(max-width: 320px) 100vw, 320px" />
                                            </a>
                                        </div>
                                        <div class="related_title">
                                            <a href="@Url.Action("DetailNew","Home",new {id=item.Name.UrlFrendly()+"-"+item.ID})">
                                                <h4>@item.Name</h4>
                                            </a>
                                        </div>
                                        <div class="related_date">
                                            @if (item.ModifiedDate != null)
                                            {
                                                @item.ModifiedDate.Value.ToString("D")
                                            }
                                            else
                                            {
                                                @item.CreateDate
                                            }
                                        </div>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                </main>
            </div>
        </div><footer class="site-footer" itemscope itemtype="https://schema.org/WPFooter">
            <div class="wrap">
                <div id="gallery_panel" class="">
                    <a class="p_left" href="#">
                        <div class="p_section left has_transition_1500">
                            <p><img class="has_transition_600" src="https://lamos.vn/Template/images/white_left_arrow.png" /><span>Journal Home</span> </p>
                        </div>
                    </a>
                    <div class="p_center">
                        <div class="b_left"></div>
                        <div class="b_right"></div>
                        <div class="b_center">
                            <p class="p_name"><span class="p_sub"></span></p>
                        </div>
                    </div>
                    <a class="p_right" href="@Url.Action("Index","Home")">
                        <div class="p_section right has_transition_1500">
                            <p><span>Site Home</span> <img class="has_transition_600" src="https://lamos.vn/Template/images/white_right_arrow.png" /></p>
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="~/Template/js/plugins.js"></script>
    <script type="text/javascript" src="~/Template/js/main.js"></script>
    <script type="text/javascript" src="~/Template/js/wp-embed.min.js"></script>
</body>
</html>
