@using Resources
@model XProject.Web.Areas.Admin.Models.RoleModel

@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    using (Html.Bootstrap().Begin(new Alert().Style(AlertColor.Success).Closeable()))
    {
        <text>@ViewBag.Message</text>
    }
}
@{
    ViewBag.Title = Resource.EditRole;
}

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-5 col-md-7">
                        @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon(Icons.arrow_left)
                        &nbsp; &nbsp;
                        @Html.Bootstrap().SubmitButton().Id("submitbutton1").Text(Resource.Edit).PrependIcon("<i class='ace-icon fa fa-check bigger-110'></i>").Style(ButtonStyle.Info)

                    </div>
                </div>
                @Html.Partial("_RoleEditor", Model)
                <div class="clearfix form-actions">
                    <div class="col-md-offset-5 col-md-7">
                        @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon(Icons.arrow_left)
                        &nbsp; &nbsp;
                        @Html.Bootstrap().SubmitButton().Id("submitbutton2").Text(Resource.Edit).PrependIcon("<i class='ace-icon fa fa-check bigger-110'></i>").Style(ButtonStyle.Info)

                    </div>
                </div>
            </div>
        </div>
    </div>
}


   

        @Html.Script(
        @<script>
            $("#submitbutton1,#submitbutton2").on('click', function (e) {
                e.preventDefault();
                bootbox.confirm("@Resource.ConfirmSave", function (isOK) {
                    if (isOK) {
                        $('#submitbutton1').parents("form").submit();
                    }
                });
            });
        </script>)
