@using Resources
@model XProject.Web.Areas.Admin.Models.MenuEditModel

<div class="panel panel-primary">
    <div class="panel-heading">Information</div>
    <div class="panel-body">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-md-3 no-padding-right">@Resource.Title</label>
                <div class="col-md-6">
                    @Html.Bootstrap().TextBoxFor(m => m.Menu.Title).HtmlAttributes(new { @class = "form-control nouc" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 no-padding-right">@Resource.Url</label>
                <div class="col-md-6">
                    @Html.Bootstrap().TextBoxFor(m => m.Menu.Url).HtmlAttributes(new { @class = "form-control nouc" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 no-padding-right">@Resource.Order</label>
                <div class="col-md-6">
                    @Html.Bootstrap().TextBoxFor(m => m.Menu.Order).HtmlAttributes(new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 no-padding-right">@Resource.Icon</label>
                <div class="col-md-6">
                    @Html.Bootstrap().TextBoxFor(m => m.Menu.Icon).HtmlAttributes(new { @class = "form-control nouc" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 no-padding-right">@Resource.Roles</label>
                <div class="col-md-6">
                    @Html.Bootstrap().CheckBoxList("SelectedRoles", m => m.Roles, r => r.ID, r => "<span class='lbl'> " + r.Name + "</span>").SelectedValues(role => Model.MenuRoles.Select(r => r.ID).Contains(role.ID)).InputHtmlAttributes(role => new { @class = "ace" })

                </div>
            </div>
            @Html.HiddenFor(m => m.Menu.ParentID)
            @Html.HiddenFor(m => m.Menu.ID)
        </div>
    </div>
</div>
    

